
<div class="">
       
            <div class="col-xs-12 col-sm-12 col-lg-12 bodystyle" >DCS Cabinet
 <a style="float:right;margin-top:-7px" class="btn btn-sm btn-info btn-flat" ui-sref ="DCShref">Overall Series-C</a><i ng-click="toggleModal('DCShref');" style="float:right;margin-right:2px;cursor:pointer;" class="fa fa-search" ></i></div>
     <div class="col-xs-12 col-sm-12 col-lg-12">
         

            <div class="col-xs-6 col-sm-6 col-lg-6 hgt " ng-controller="FrontCtrl"  ng-dblClick="changeView('dcsFronthref')">
             <div class="svglabel">DCS Front Side</div> <i style="float:right;margin-right:2px;cursor:pointer;" class="fa fa-search" ng-click="toggleModal('dcsFronthref');"></i> <div class="Front"></div> <!--<div ng-include src="'dcsFront.html'"></div>-->
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 hgt" ng-controller="RearCtrl" ng-dblClick="changeView('dcsRearhref')" >
                 <div class="svglabel">DCS Rear Side</div><i style="float:right;margin-right:2px;cursor:pointer;" class="fa fa-search" ng-click="toggleModal('dcsRearhref');"></i><!--<div ng-include src="'dcsRear.html'"></div>--><div class="Rear"></div>
            </div>
         </div>
    
            <div class="col-xs-12 col-sm-12 col-lg-12 bodystyle" >SM Cabinet<a style="float:right;margin-top:-7px" class="btn btn-sm btn-info btn-flat"  ui-sref ="SMhref">Overall Safety Manager</a><i style="cursor:pointer;float:right;margin-right:2px;" class="fa fa-search" ng-click="toggleModal('SMhref');"></i></div>
            <div class="col-xs-12 col-sm-12 col-lg-12">
               <div class="col-xs-6 col-sm-6 col-lg-6 hgt" ng-controller="SM24Ctrl" ng-dblClick="changeView('SM24href')" ><div class="svglabel">Safety Manager 24VDC</div><i ng-click="toggleModal('SM24href');" style="cursor:pointer;float:right;margin-right:2px;" class="fa fa-search" ></i> <div class="SM24"></div> <!--<div ng-include src="'SM24.html'"></div>--></div>
               <div class="col-xs-6 col-sm-6 col-lg-6 hgt" ng-controller="SM48Ctrl" ng-dblClick="changeView('SM48href')" ><div class="svglabel">Safety Manager 48VDC</div><i ng-click="toggleModal('SM48href');" style="cursor:pointer;float:right;margin-right:2px;" class="fa fa-search" ></i> <div class="SM48"></div> <!--<div ng-include src="'SM48.html'"></div>--></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-6 col-sm-6 col-lg-6 hgt" ng-controller="SM60Ctrl" ng-dblClick="changeView('SM60href')" ><div class="svglabel">Safety Manager 60VDC</div><i ng-click="toggleModal('SM60href');" style="cursor:pointer;float:right;margin-right:2px;" class="fa fa-search" ></i> <div class="SM60"></div> <!--<div ng-include src="'SM60.html'"></div>--></div>
                <div class="col-xs-6 col-sm-6 col-lg-6 hgt" ng-controller="SM110Ctrl" ng-dblClick="changeView('SM110href')" ><div class="svglabel">Safety Manager 110VDC</div><i ng-click="toggleModal('SM110href');" style="cursor:pointer;float:right;margin-right:2px;" class="fa fa-search" ></i> <div class="SM110"></div> <!--<div ng-include src="'SM110.html'"></div>--></div>
            </div>
        </div>
    <div class="container"><!--<modal visible="showModal">
  </modal>-->
        </div>